In [4]:
?str

help(str)

In [17]:
dictr = {3:'python',1:'java',2:'big data'}

ks = list(dictr.keys())
ks

sk = sorted(ks)
sk

str(dictr)

dicts = {3:['a','b'],2:(10,11,12)}

[3, 1, 2]

In [18]:
him

[1, 2, 3]

In [35]:
dicts = {1:['a','b'],2:(10,11,12)}

dicts[1][0]

dicts[5]="Edu"

In [42]:
my_set.discard(4)
print(my_set)

{1, 2, 3, 5, 6, 8}

In [38]:
#str(dictionary_u)

my_set = {1, 2, 3}
print(my_set)


my_set.update([2, 3, 4])
print(my_set)
# add list and set

my_set.update([4, 5], {1, 6, 8})
print(my_set)

my_set.discard(4)
print(my_set)

my_set = set("HelloWorld")
print(my_set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 5, 6, 8}

In [56]:
my_set = set("apple")


print('a' in my_set)

True

In [2]:
X=10

Y=12

if(X<Y):
    print('X is less than Y')
    
elif(X>Y):
    print('X is greater than Y')
    
else:
    print('X and Y are equal')

X is less than Y

In [3]:
score_theory = 21
score_practical = 20

if(score_theory > 30):
    print("Please check theory'.") 
    
elif(score_practical > 50):
    print("Please check Practical.")  
    
else:
    print("Total score: ",score_theory + score_practical)

Total score:  41

In [ ]:
count = 1

while (count < 3):      
    count = count + 1 
    print("Hello Geek")

In [9]:
l = "edureka"

[i for i in l]

['e', 'd', 'u', 'r', 'e', 'k', 'a']

In [6]:
fam = [1.73, 1.68, 1.71, 1.89]

for height in fam :
    print(height)

1.73
1.68
1.71
1.89

In [10]:
adj = ["red", "big", "tasty"]

fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [16]:
for j in range(1,11):
    print(j)
    if(j==5):
        continue

1
2
3
4
5
6
7
8
9
10

In [71]:
for i in range(10,50):
    print(i)
    if(i==30):
        break

for j in range(1,11):
    if(j==5):
        continue
    print(j)

for k in range(1,3):
    pass
print("Loop ends here")

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
1
2
3
4
5
6
7
8
9
10
Loop ends here

In [25]:
name=input("Enter your name")

age=input("Enter your age")

print("Welcome ",name)

print("Your age is ",age)

print("After 5 years, your age will be :",(int(age)+5))

Enter your namehim
Enter your age36
Welcome  him
Your age is  36
After 5 years, your age will be : 41

In [34]:
import os

newfile=open("Edureka_Py.txt","w+")

for i in range(1,10):
    newfile.write("\n Hello, welcome to Python:")
    
newfile=open("Edureka_Py.txt","r+")
for i in range(1,10):
    print(newfile.read())

newfile.close()

os.rename("Edureka_Py.txt","edu_test11.txt")

#os.listdir()

#os.remove("edu_test11.txt")

 Hello, welcome to Python:
 Hello, welcome to Python:
 Hello, welcome to Python:
 Hello, welcome to Python:
 Hello, welcome to Python:
 Hello, welcome to Python:
 Hello, welcome to Python:
 Hello, welcome to Python:
 Hello, welcome to Python:

In [31]:
os.remove("edu_test11.txt")

## Module 3

In [10]:
def edu1(a,b):
    
    c = a + b
    return c

print(edu1(2,3))

5

In [7]:
def edu2 (a,b):
    return a+b

edu2(2,3)

5

In [11]:
def name():
    
    nm = input("Input Ur name:")
    
    return nm

nm1 = name()

print(nm1)

Input Ur name:him
him

In [10]:
class number():
    
    pass
x=number()
print(x)

<__main__.number object at 0x7f04a81b44e0>

In [81]:
z = test(2,3)
z

5

In [82]:
def name():
    nm = input("Input Ur name:")
    return nm
nm = name()
print(nm)

def add(a,b):
    return a+b

add(5,4)

def test(a,b):
    c=a+b
    return c

Input Ur name:him
him

In [13]:
grocery = ['bread', 'milk', 'butter']

enumerateGrocery = enumerate(grocery)

print(type(enumerateGrocery))


enumerateGrocery = enumerate(grocery, 20)

print(list(enumerateGrocery))

<class 'enumerate'>
[(20, 'bread'), (21, 'milk'), (22, 'butter')]

In [12]:
def edu(a):
    return a*a

edu(2)

In [19]:
square = lambda n : n*n

num = square(5)
print (num)

25

In [16]:
items = [1, 2, 3, 4, 5] 

squared = list(map(lambda x: x**2, items))

print(squared)

[1, 4, 9, 16, 25]

In [20]:
number_list = range(-5, 5)

less_than_zero = list(filter(lambda x: x > 0, number_list))

print(less_than_zero)

[1, 2, 3, 4]

In [27]:
from functools import reduce

product = reduce((lambda x, y: x * y), [1, 2, 3, 4])

print(product)

24

In [ ]:
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print(squared)


#filter

number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

#reduce

from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])
print(product)

In [38]:
#Creating a Class

class number():
    pass


x=number()


print(x)

<__main__.number object at 0x7f9c246112b0>

In [91]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

In [97]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
        
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("him", 30)
p1.myfunc()

Hello my name is him

In [ ]:
def hello_world(): 
    """Demonstrating docstring."""
   
    return None


#Creating a Class
class number():
    pass

#Creating Instance of Class
x=number()
print(x)

In [9]:
#Map

items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print(squared)

#filter

number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

#reduce

from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])
print(product)

[1, 4, 9, 16, 25]
[-5, -4, -3, -2, -1]
24

In [33]:
a=30

def add(b):
    d=40
    #print("d= ",d)
    sum = b + d + a
    print("Addition is :",sum)

print(a)

add(40)

#print(d)

30
Addition is : 110

In [31]:
def info(name,age=50):
    
    print("Name: ",name)
    
    print("Age :",age)
    
    return()

info(name="Miki")
info(age=25,name="Annie")

Name:  Annie
Age : 25

()

In [37]:
def info(user,*users):
    
    print(user)
    
    for var in users:
        
        print(var)
        return()

info("Annie")
info("Miki","Dave")

Miki
Dave

()

In [41]:
class edu:
    
    def hello(self):
        print("Good day")
        
    def hello1(self):
        print("bad day")
        


ob = edu()

ob.hello1()

bad day

In [47]:
class Edureka:
    empcount=0


print("Edureka.__name__",Edureka.__dict__)
#print("Edureka.__name__",Edureka.__name__)
#print("Edureka.__module__:",Edureka.__module__)

Edureka.__name__ {'__module__': '__main__', 'empcount': 0, '__dict__': <attribute '__dict__' of 'Edureka' objects>, '__weakref__': <attribute '__weakref__' of 'Edureka' objects>, '__doc__': None}

In [56]:
class Edureka():
    def __init__(self):
        self.__pri=("I am Private")
        self._pro=("I am Protected")
        self.pub=("I am Public")

ob=Edureka()

print(ob.pub)
print(ob._pro)

#print(ob.__pri)

print(ob._Edureka__pri)

I am Public
I am Protected
I am Private

In [58]:

class MyClass:
    
    def myPublicMethod(self):
        
        print('public method')
        
    def __myPrivateMethod(self):
        
        print('this is private!!')

obj = MyClass()

obj.myPublicMethod()


obj._MyClass__myPrivateMethod()

public method
this is private!!

In [1]:
class test:
    
    def __init__(self,eid,name):
        self.eid =eid
        self.name = name
        
    def __del__(self):
        print("object is deleted")
        
    
e = test(1,"him")
e.__dict__
e.name

del e.eid
del e.name